doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title New
body
  form(action="/articles/new", method="POST")
    fieldset
      div.admin-article-title Title
        label(for="article-title-input")
        input#article-title-input(type="text", name="article-title")
      div.admin-article-client Client
        label(for="article-client-input")
        input#article-client-input(type="text", name="article-client")
      div.admin-article-project-url Project URL
        label(for="article-project-url-input")
        input#article-project-url-input(type="text", name="article-project-url")
      div.admin-article-image-url Image URL
        label(for="article-image-url-input")
        input#article-image-url-input(type="text", name="article-image-url")
      div.admin-article-content Content
        label(for="article-content-input")
        textarea#article-content-input(name="article-content", cols="30", rows="10")
      div.admin-article-completion-date Completion Date
        label(for="article-completion-date-input")
        input#article-completion-date-input(type="text", name="article-completion-date")
      div.admin-article-share Share
        label(for="admin-article-share-input")
        input#article-share-input(type="text", name="article-share")
      button Submit


