extends ../layouts/layout.jade

block content
  h1 Articleater

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  .article-wrapper
    article
      .image
      h2 Paperlux + Novum
      .content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.
