extends ../layouts/layout.jade

block content
  h1 Workality

  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.
  
  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.
  
  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.
  
  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.

  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.
  
  article
    .image
    h2 Paperlux + Novum
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste voluptatum quidem inventore impedit vero maiores! Soluta obcaecati blanditiis magnam magni consequuntur.
