extends ../layouts/layout.jade

block content
  h1 Articleater
  
  each article in articles
    a.article-wrapper(href="/#{article._id}")
      article
        .article-image
          img(src="#{article.imageUrl}")
        h2= article.title
        .content!= article.content
