extends ../layouts/layout.jade

block content
  h1 Articleater

  each article in articles
    .article-wrapper
      article
        .image(style="background-image: url(#{article.imageUrl})")
        h2= article.title
        .content!= article.content
